html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  color: #243f4d;
  font-size: 16px;
  line-height: 20px;
  @extend %dmsans-400;
}
.main{
  flex-grow: 1;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-large {
  max-width: 1570px;
  padding: 0 15px;
  margin: 0 auto;
}
.tittle{
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 40px;
}
.filter-btn {
  @extend %dmsans-700;
  font-size: 16px;
  background-color: transparent;
  color: #8b8b8b;
  transition: all .5s;
}
.filter-btn + .filter-btn{
  margin-left: 30px;
}
.mixitup-control-active{
  color: #000;
}
.breadcrumbs{
  &__list{
    display: flex;
    justify-content: center;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #888c91;
  }
  &__item{
    padding-right: 20px;
    position: relative;
    &::after{
      content: '/';
      position: absolute; 
      right: 7px;
      }
    &:last-child{
      padding-right: 0; 
      &::after{
        display: none;
      }
    }
    }
  }


.products-item{
  position: relative;
  width: 270px;
  height: 380px;
  padding: 35px 15px 35px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  &:hover {
    .products-item__link-box {
      transform: translateY(0);
    }
  }
  &__link-box {
    position: absolute;
    top: 55%;
    transform: translateY(500%);
    transition: all 0.3s;
  }
  &__link {
    width: 45px;
    height: 45px;
    padding: 12px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: inline-block;
    transition: all 0.3s;
    path {
      transition: all 0.3s;
    }
  }
  &__link:hover {
    background-color: #a3bac7;
    path {
      fill: #fff;
    }
  }
  &__tittle {
    @extend %dmsans-500;
    line-height: 40px;
    color: #243f4d;
    margin-top: auto;
  }
  &__prise {
    @extend %dmsans-700;
    line-height: 40px;
    color: #a3bbc8;
  }
}
.pagination{
  padding-top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %rubik-400; 
  &__list{
    display: flex;
  }
  &__link,
  &__next{
    padding: 16px 20px;
    border: 1px solid $bg;
  }
  &__item{
    margin-right: 15px;
  }
  &__link--active{
    background-color: $bg;
    color: #fff;
  }
}