
%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%btn{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    padding: 23px 19px 23px 25px;
}
%bg{
  background-color: #fef7f0;
}
%tittle{
  color: #243f4d;
}